.questionStyle {
  text-align: center;
  margin-top: 10px;
  margin-bottom: auto;
  color: white;
  font-family: 'Titillium Web', sans-serif;
  margin-left: 10px;
  margin-right: 10px;
}



#submitStyle, #submitTitle, #startButtonStyle, #headerInfo, .labelStyle {
  text-align: center;
  margin-top: 50px;
  margin-bottom: auto;
  color: white;
  font-family: 'Titillium Web', sans-serif;
}

#languageForm {
  display: none;
}

#languageFormStyle {
  background-color: black;
  color: white;
}

.nextprevbuttonStyle {
  margin-top: 20px;
}

body {
  background-color: black;
}

#suggestionHtml, #suggestionRuby, #suggestionRust, #suggestionCSharp, #suggestionJavaScript, #suggestionPython {
  display: none;
}

#question1, #question2, #question3, #question4, #question5, #question6, #submitStyle {
  display: none;
}

#suggestions {
  text-align: center;
  margin-top: 10px;
  margin-bottom: auto;
  color: white;
  font-family: 'Titillium Web', sans-serif;
  margin-left: 10px;
  margin-right: 10px;
  text-shadow: 2px 2px black;
}
